<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <link rel="shortcut icon" href="{{ asset('assets/img/favicon.png') }}" type="image/x-icon" />

        {% include('omdb/assets/stylesheets.html.twig') %}
    </head>
    <body>
        {% block content %}

        {% endblock %}

        {% include('omdb/assets/javascripts.html.twig') %}
    </body>
</html>