{% extends 'omdb/layout/base.html.twig' %}

{% block title %}OMDB API - Contact{% endblock %}

{% block content %}
    {% include('omdb/layout/navbar.html.twig') %}
    <div class="container mt-4" >
        <nav aria-label="breadcrumb" >
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <i class="mdi mdi-home"></i> Accueil - Contactez-nous </li>
            </ol>
        </nav>





{% endblock %}